* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "helvetica";
}
body {
  /* background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%); */
  /* background-image: linear-gradient(315deg, #8989bb 0%, #a5a4cb 74%); */
  /* background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%); */
  /* background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%); */
  background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#app {
  max-width: 600px;
  background: #fff;
  margin: 50px auto;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  min-height: max-content;
}

.content {
  padding: 20px;
}

header {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
#todo-title {
  background: -webkit-linear-gradient(315deg, #8989bb 0%, #a5a4cb 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#todo-subtitle {
  color: #999;
  font-size: 14px;
}

.form-todo {
  display: flex;
  margin: 20px 0;
  column-gap: 5px;
}

#todo-input {
  flex: 4;
  padding: 10px;
  border-radius: 6px;
  border: none;
  border: 2px solid #978ec9;
  font-size: 17px;
  font-weight: 500;
}

#todo-input:focus {
  outline: none;
}

#todo-input::placeholder {
  font-size: 17px;
  font-weight: 500;
  color: #978ec9;
}

#todo-submit {
  flex: 1;
  border-radius: 6px;
  border: none;
  border: 2px solid #978ec9;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  color: #978ec9;
  transition: 0.5s;
  cursor: pointer;
}
#todo-submit:hover {
  background: #978ec9;
  color: #fff;
}

#todo-output {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
#todo-output li {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

#todo-output li:hover {
  box-shadow: 3px 3px 7px linear-gradient(315deg, #9e8fb2 0%, #a7acd9);
}
footer {
  background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9);
  padding: 10px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}
